@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(../fonts/neulis-alt/stylesheet.css);
@import url(../fonts/neulis/stylesheet.css);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.neulis {
  font-family: 'neulis';
}

.neulisTitle {
  font-family: 'neulis';
  font-weight: 600;
  font-style: normal;
}

.neulisAltTitle {
  font-family: 'neulis-alt';
  font-weight: 600;
  font-style: normal;
}

.bg-transparent {
  background-color: transparent;
}